@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Info:</strong> <a href="mailto:info@mattgerega.com">info@mattgerega.com</a><br />
</address>
