

<div class="row">
    <div class="col-sm-6">
        <div class="card card-accent-info">
            <div class="card-header">
                <strong>
                    <i class="icon-envelope"></i> Contact
                </strong>
            </div>
            <div class="card-body">
                <h3>Spydersoft</h3>
                <address>
                    <strong>General</strong>: <a href="mailto:geregam@gmail.com">geregam@gmail.com</a>
                </address>
            </div>
        </div>
    </div>
</div>

