
<section>
    <div class="container-fluid">
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>Contact</h2>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <div class="row">
            <div class="row my-2">
                <div class="col-sm-6">
                    <div class="card-style">
                        <div class="card-meta">
                            <strong>
                                <i class="icon-envelope"></i> Spydersoft
                            </strong>
                        </div>
                        <div class="card-content">
                            <h3>Matt Gerega</h3>
                            <address>
                                <strong>General</strong>: <a href="mailto:geregam@gmail.com">geregam@gmail.com</a>
                            </address>
                            <a href="https://www.mattgerega.com">mattgerega.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
