@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1>Welcome to Spydersoft's Identity Server!</h1>
        <p>This site provides authentication services for Spydersoft applications.</p>
    </div>
    

</div>
