@using spydersoft.Identity.Models.Admin.IdentityResourceViewModels
@model IdentityResourceNavBarViewModel

<nav>
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="IdentityResources" asp-action="Edit" asp-route-id="@Model.Id">Main</a></li>
        @if (Model.Id > 0)
        {
            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="IdentityResourceClaims" asp-action="Index" asp-route-id="@Model.Id">Claims</a></li>
            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="IdentityResourceProperties" asp-action="Index" asp-route-id="@Model.Id">Properties</a></li>
        }
    </ul>
</nav>
