@using Spydersoft.Identity.Models.Admin.IdentityResourceViewModels
@model IdentityResourceNavBarViewModel

<nav class="mb-6">
    <div class="tabs tabs-bordered">
        <a class="tab tab-bordered" asp-area="" asp-controller="IdentityResources" asp-action="Edit" asp-route-id="@Model.Id">Main</a>
        @if (Model.Id > 0)
        {
            <a class="tab tab-bordered" asp-area="" asp-controller="IdentityResourceClaims" asp-action="Index" asp-route-id="@Model.Id">Claims</a>
            <a class="tab tab-bordered" asp-area="" asp-controller="IdentityResourceProperties" asp-action="Index" asp-route-id="@Model.Id">Properties</a>
        }
    </div>
</nav>
