@using Spydersoft.Identity.Extensions
@using Spydersoft.Identity.Models.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager





@if (User.Identity.IsAuthenticated)
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="nav navbar-nav ml-auto">
        <div class="profile-box ml-15">
            <button
                class="dropdown-toggle bg-transparent border-0"
                type="button"
                id="profile"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                <div class="profile-info">
                    <div class="info">
                        <h6>@UserManager.GetUserAsync(User).Result.Name</h6>
                        <div class="image">
                            <img src="@UserManager.GetUserAsync(User).Result.Email.ToGravatarUrl()" alt="My Gravatar" class="img-avatar" />
                            <span class="status"></span>
                        </div>
                    </div>
                </div>
                <i class="lni lni-chevron-down"></i>
            </button>
            <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="profile"
            >
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="Index">
                        <i class="lni lni-user"></i> View Profile
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Grants" asp-action="Index"> <i class="lni lni-inbox"></i> My Apps </a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="Logout"><i class="lni lni-exit"></i> Logout</a>
                </li>
            </ul>
        </div>
    </form>
}
else
{
    <div class="profile-box ml-15">
        <button
            class="dropdown-toggle bg-transparent border-0"
            type="button"
            id="profile"
            data-bs-toggle="dropdown"
            aria-expanded="false"
        >
            <div class="profile-info">
                <div class="info">
                    <div class="image">
                        <img src="@string.Empty.ToGravatarUrl()" alt="My Gravatar" class="img-avatar" />
                        <span class="status"></span>
                    </div>
                </div>
            </div>
            <i class="lni lni-chevron-down"></i>
        </button>
        <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="profile"
        >
            <li>
                <a asp-area="" asp-controller="Register" asp-action="Index">
                    <i class="lni lni-user"></i> Register
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Account" asp-action="Login"> <i class="lni lni-inbox"></i> Login </a>
            </li>
        </ul>
    </div>
}
