@using Spydersoft.Identity.Models.Admin.ScopeViewModels
@model ScopeNavBarViewModel

<nav class="mb-6">
    <div class="tabs tabs-bordered">
        <a class="tab tab-bordered" asp-area="" asp-controller="Scopes" asp-action="Edit" asp-route-id="@Model.Id">Main</a>
        @if (Model.Id > 0)
        {
            <a class="tab tab-bordered" asp-area="" asp-controller="ScopeClaims" asp-action="Index" asp-route-id="@Model.Id">Claims</a>
            <a class="tab tab-bordered" asp-area="" asp-controller="ScopeProperties" asp-action="Index" asp-route-id="@Model.Id">Properties</a>
        }
    </div>
</nav>
