@using spydersoft.Identity.Models.Identity
@model ApplicationRolesViewModel
<div class="card">
    <div class="card-header">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Actions&nbsp;<a asp-action="Edit"><span class="fa fa-plus"></span></a></th>
            </tr>
            </thead>

            @foreach (var role in Model.Roles)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@role.Id"><span class="fa fa-edit"></span></a>
                        <a asp-action="Delete" asp-route-id="@role.Id" title="Delete"><span class="fa fa-trash"></span></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
