@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4>Manage your account</h4>
    </div>
    <div class="card-body">
        @await Html.PartialAsync("_ManageNav")
        <div class="border border-top-0 px-3 py-3">
            @RenderBody()
        </div>

    </div>
</div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

