@using Microsoft.AspNetCore.Authentication
@model TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = "User Claims Info";
    ViewData.AddActivePage(ManageNavPages.UserClaimsInfo);
}

<h4>@ViewData["Title"]</h4>

<h3>User Claims Info</h3>
<dl>
    @foreach (var claim in User.Claims)
    {
    <dt>@claim.Type</dt>
    <dd>@claim.Value</dd>

    }
    <dt>id token</dt>
    <dd>@await ViewContext.HttpContext.GetTokenAsync("id_token")</dd>
</dl>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
